.Books {
  width: 100vw;
  height: max-content;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Img {
  border: ridge 10px #762323;
}
.Card {
  width: 500px;
  color: white;
  text-align: center;
  margin: 10px;
  &:hover {
    background-color: #ae6a5336;
    border-radius: 30px;
  }
}
.Search {
  color: white;
  display: flex;
  justify-content: center;
  ::placeholder {
    color: white;
  }

  .Input {
    font-size: 40px;
    width: 60vw;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
    background-color: rgba(222, 184, 135, 0.387);
    border: none;
    &:focus {
      background-color: #ae6a534e;
      color: white;
      border: none;
    }
  }

  .Button {
    height: 60px;
    width: 250px;
    font-size: 22px;
    border-radius: 12px;
    background-color: #ae6953;
    border: 5px burlywood ridge;
    color: #eec170;
    &:hover {
      background-color: rgba(222, 184, 135, 0.832);
      color: #585123;
      font-weight: bold;
    }
  }
}
.Title {
  font-size: 30px;
}
