.Search {
  color: white;
  display: flex;
  justify-content: center;
  ::placeholder {
    color: white;
  }

  .Input {
    font-size: 40px;
    width: 60vw;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
    background-color: rgba(222, 184, 135, 0.387);
    border: none;
    &:focus {
      background-color: #ae6a534e;
      color: white;
      border: none;
    }
  }

  .Button {
    height: 60px;
    width: 250px;
    font-size: 22px;
    border-radius: 12px;
    background-color: #ae6953;
    border: 5px burlywood ridge;
    color: #eec170;
    &:hover {
      background-color: rgba(222, 184, 135, 0.832);
      color: #585123;
      font-weight: bold;
    }
  }
}
